.over-hidden {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}
.color-white{
    color: #fff;
}

button:hover{
    color: #222;
    background-color: #fff;
    cursor: pointer;
}
*{
    overflow: visible;
}

.ml-1{
    margin-left: 5px;
}

button{
    text-decoration: none;
    color: #fff;
    background-color: #222;
}

.content{
    display: contents;
    color: #0F8548;
    font-size: 60px;
}

.bg{
    background-color: #222;
}