.title{
    background-color: #222;
    color: #0F8548;
}

.p-0{
    padding: 0;
}

.success.mat-snack-bar-container{
    color: white;
    background-color: #00b55b;
}

.error.mat-snack-bar-container{
    color: white;
    background-color: #DA6363;
}

