<div class="container bg h-100">
    <mat-drawer-container class="w-100 over-hidden">
        <mat-drawer #drawer class="example-sidenav" [mode]="'side'" opened fixedTopGap="56">
            <div class="col h-100">
                <div class="row ">
                    <button class="ml-1" *ngFor="let item of list" (click)="cargarLiga(item.league_id)"> <strong> {{item.league_name}} </strong>- <span> {{item.country_name}} </span>
                        <mat-divider class="color-white"></mat-divider>
                    </button>
                </div>
            </div>
        </mat-drawer>
    </mat-drawer-container>
</div>